body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#74ebd5,#9face6);
    padding: 20px;
}

.container{
    max-width: 520px;
    background: #fff;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

h2,h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

input, textarea{
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
}

textarea{
    resize: none;
}

button{
    width: 100%;
    padding: 12px;
    background: #ff9800;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background: #e68900;
}


.stars{
    display: flex;
    gap: 8px;
    font-size: 32px;
    margin-bottom: 15px;
    cursor: pointer;
}

.star{
    color: #ccc;
}

.star.active{
    color: gold;
}

.error{
    color: red;
    text-align: center;
}

.feedback-item{
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #ff9800;
}

.avg{
    text-align: center;
    font-weight: bold;
}
