* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #154c5a, #d9e4f5);
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.subtitle {
    color: #221b1b;
    margin-bottom: 20px;
}

.selectors {
    margin-bottom: 25px;
}

select {
    padding: 10px 14px;
    margin: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.comparison-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background:whitesmoke;
    padding: 20px;
    width: 280px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: transform 0.3s;
}


.card:hover {
    transform: translateY(-6px);
}

.card img {
    width: 160px;
    height: auto;
    margin-bottom: 10px;
}

.card h2 {
    margin: 10px 0;
}

.spec {
    margin: 6px 0;
}

.highlight {
    color: #0a8f08;
    font-weight: bold;
}

.bad {
    color: #c62828;
}

.badge {
    display: inline-block;
    background: #0a8f08;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .comparison-container {
        flex-direction: column;
        align-items: center;
    }
}
