body{
    margin:0;
    font-family:Arial, sans-serif;
    background:url("https://t3.ftcdn.net/jpg/03/15/92/42/360_F_315924231_ARwuFaPa1NzlsYbnFQfQukX4QxY6MNNM.jpg") no-repeat center center fixed;
    background-size:cover;
}

header{
    background:rgba(174, 142, 88, 0.9);
    color:rgb(15, 12, 12);
    padding:15px;
    text-align:center;
    border-radius: 60px;
}

.search-box{
    text-align:center;
    margin:15px;
}

.search-box input{
    padding:10px;
    width:60%;
    font-size:16px;
}

.news-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.news-card{
    background:white;
    width:300px;
    margin:15px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    overflow:hidden;
}

.news-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.news-content{
    padding:15px;
}

.news-content h3{
    margin:0;
}

.news-content p{
    font-size:14px;
    color:#555;
}

.news-content button{
    margin-top:10px;
    padding:8px 12px;
    border:none;
    background:#1e90ff;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
}

.modal-content{
    background:white;
    width:70%;
    margin:40px auto;
    padding:20px;
    border-radius:10px;
    max-height:80%;
    overflow-y:auto;
    text-align:center;
}

.modal-content img{
    width:60%;
    border-radius:10px;
    margin-bottom:15px;
}

.modal-content p{
    text-align:justify;
    line-height:1.7;
}

.close{
    float:right;
    font-size:22px;
    cursor:pointer;
}